#elemento-1 {color: red;}
.elemento1 {font-size: 2rem;}
#elemento-1, #elemento-2, #elemento-3, #elemento-4, #elemento-5 { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}